<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.google.code.kaptcha.util.Config" id="config">
        <constructor-arg name="properties">
            <props>
                <!--                图片边框	-->
                <prop key="kaptcha.border">no</prop>
                <!--                字体颜色，合法值： r,g,b 或者 white,black,blue.	black-->
                <prop key="kaptcha.textproducer.font.color">blue</prop>
                <!--                文字间隔	2-->
                <prop key="kaptcha.textproducer.char.space">2</prop>
                <!--                图片宽-->
                <prop key="kaptcha.image.width">200</prop>
                <!--                图片高-->
                <prop key="kaptcha.image.height">35</prop>
                <!--                验证码长度-->
                <prop key="kaptcha.textproducer.char.length">4</prop>
                <!--                字体大小	40px-->
                <prop key="kaptcha.textproducer.font.size">30</prop>
            </props>
        </constructor-arg>
    </bean>


    <!--                验证码生成器-->
    <bean class="com.google.code.kaptcha.impl.DefaultKaptcha" id="defaultKaptcha">
        <property name="config" ref="config"/>
    </bean>

</beans>
