<!DOCTYPE html>
<html xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../plugins/echarts/echarts.js"></script>

</head>
<body>


<div id="app" class="hold-transition">


    <template>
        <div class="app-container">
            <!--日历控件-->
            <el-date-picker
                    v-model="value1"
                    type="datetime"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期时间">
            </el-date-picker>
            ----
            <!--日历控件-->
            <el-date-picker
                    v-model="value2"
                    type="datetime"
                    format="yyyy-MM-dd hh:mm"
                    value-format="yyyy-MM-dd hh:mm"
                    placeholder="选择日期时间">
            </el-date-picker>
            <el-button type="primary" @click="clickBtn">确定</el-button>
        </div>
    </template>
    <div class="content-header">
        <h1>统计分析
            <small>会员数量</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>统计分析</el-breadcrumb-item>
            <el-breadcrumb-item>会员数量</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

</div>
<div class="app-container">

    <div class="box">
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="chart1" style="height:800px;"></div></div>

</div>
</body>
<!-- 引入组件库 -->
<script src="../js/axios-0.18.0.js"></script>
<script type="text/javascript">
    var myChart1 = echarts.init(document.getElementById('chart1'));

    axios.post("/report/getMemberReport.do").then((res) => {
        console.log(res);
        myChart1.setOption(
            {
                title: {
                    text: '会员数量'
                },
                tooltip: {},
                legend: {
                    data: ['会员数量']
                },
                xAxis: {
                    data: res.data.data.months
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '会员数量',
                    type: 'line',
                    data: res.data.data.memberCount
                }]
            });
    });
    new Vue({
        el: "#app",
        data: {
            value1: '',
            value2: ''
        },
        methods: {
            clickBtn: function () {
                axios.post("/report/getDate.do?start=" + this.value1 + "&&end=" + this.value2).then((res) => {
                    console.log(res);
                    myChart1.setOption(
                        {
                            title: {
                                text: '会员数量'
                            },
                            tooltip: {},
                            legend: {
                                data: ['会员数量']
                            },
                            xAxis: {
                                data: res.data.data.months
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: [{
                                name: '会员数量',
                                type: 'line',
                                data: res.data.data.memberCount
                            }]
                        });
                })
            }
        }
    });
</script>

</html>
